:root{
    --pink:#FF6BBF;
    --boxbg:rgba(0,0,0,.45);
    --borders:double var(--pink) 4px;
}

body{
    background:url("https://i.pinimg.com/236x/df/d2/b8/dfd2b858a0b1a06a775f49c3894aeab8.jpg");
    cursor:url("../img/cursor.png"), default;
}
